<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HTML Review</title>
<!-- container for metadata (is not displayed )
    title, styles(css), link
-->
</head>
<body>

<b>Welcome to html review!! </b>

<h1 align="center" style="color : cornflowerblue">Spring boot</h1>
<h2>Spring boot</h2>
<h3>Spring boot</h3>
<h4>Spring boot</h4>
<h5>Spring boot</h5>

<img src="springboot.png" alt="Spring boot image">


<ul>
    <li>JAVA</li>
    <li>Spring</li>
</ul>

<a href ="https://amazon.com">Click to Amazon</a>

<br>
<br>
<table>
    <tr>
        <td>First Name</td>
        <td>Last Name</td>
        <td>Salary</td>
    </tr>
    <tr>
        <td>Mike</td>
        <td>Smith</td>
        <td>100k</td>
    </tr>

</table>

<label>Username:</label>
<input type="text" name="username" id="username">
<br>
<label>Password:</label>
<input type="text" name="password">
<br>
<label>Enter your comments:</label>
<textarea name="comments"></textarea>

<br>
<label>Please select your gender</label>
<input type="radio" name="gender" value="male">Male
<input type="radio" name="gender" value="female">Female
<input type="radio" name="gender" value="other">Other

<br>
<label>Please select your favorite course</label>
<input type="checkbox" name="course" value="spring">Spring
<input type="checkbox" name="course" value="java">Java

<br>
<select>select your number
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
</select>

<br>
<form action="#" method="get">
    Firstname:<input type="text" name="first_name">
    <br>
    Lastname:<input type="text" name="last_name">
    <br>
    <input type="button" value="submit">
</form>

<br>

<div>
    <h3>Learn Java Spring Boot</h3>
    <ul>
        <li>Spring core</li>
        <li>Data structure</li>
    </ul>
</div>


</body>
</html>